# Ignore environment-specific config files
appsettings.Development.json
appsettings.Local.json
appsettings.*.json
appsettings.json

# Ignore compiled files
bin/
obj/

# Ignore Visual Studio cache
.vs/

# Ignore user-specific project settings
*.user
*.suo
*.userosscache
*.sln.docstates
